<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>ToDoアプリ</title>
  <link href="app.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <h2>To do一覧</h2>
    <p v-if="lists.length == 0">To do の登録がありません</p>
    <ul>
      <li v-for="(list, index) in lists" v-bind:key="list.id">
        <span v-if="!list.isEdit">{{list.content}}</span>
        <input v-if="list.isEdit"　v-model="editContent" >
        <button class="btn-edit" v-on:click="edit(index)" v-if="!list.isEdit">編集</button>
        <button class="btn-update" v-on:click="update(index)" v-if="list.isEdit" >更新</button>
        <button class="btn-remove" v-on:click="remove(index)">削除</button>
      </li>
    </ul>
    <hr>
    ※To doを追加する <input v-model="content" placeholder="入力して下さい">
    <button class="btn-add" v-on:click="add">追加</button>
    <div id="overlay" v-show="showContent">
      <div id="content">
        <p>一つ目の編集を更新してから、次の編集をして下さい。</p>
        <button v-on:click="closeModal">Close</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
