<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>ToDoアプリ</title>
  <link href="app.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <h2>To do一覧</h2>
    <p v-if="lists.length == 0">To do の登録がありません</p>
    <ul>
      <li v-for="(list, index) in lists" :key="list.id">
        <template v-if="list.isEdit">
          <input v-model="editContent" >
          <button class="btn-update" @click="update(index)">更新</button>
        </template>
        <template v-else>
          <span>{{list.content}}</span>
          <button class="btn-edit" @click="edit(index)">編集</button>
        </template>
        <button class="btn-remove" @click="remove(index)">削除</button>
      </li>
    </ul>
    <hr>
    ※To doを追加する <input v-model="content" placeholder="入力して下さい">
    <button class="btn-add" @click="add">追加</button>
    <div id="overlay" v-show="showContent">
      <div id="content">
        <p>一つ目の編集を更新してから、次の編集をして下さい。</p>
        <button @click="closeModal">Close</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
